<h1>Welcome to index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<h4>functions</h4>
<table border="1">
<tr>
  <td>user</td>
  <td><a href="/users">Show</a></td>
  <td><a href="/users/new">New</a></td>
  <td><a href="/users">Choose user to destroy</a></td>
</tr>
<tr>
  <td>client</td>
  <td><a href="/clients">Show</a></td>
  <td><a href="/clients/new">New</a></td>
  <td><a href="/clients">Choose client to destroy</a></td>
<tr>
  <td>store</td>
  <td><a href="/stores">Show</a></td>
  <td><a href="/stores/new">New</a></td>
  <td><a href="/stores">Choose store to destroy</a></td>
</tr>
<tr>
  <td>installation data</td>
  <td><a href="/installation_data">Show</a></td>
  <td><a href="installation_data/new">New</a></td>
  <td><a href="/installation_data">Choose installation data to destroy</a></td>
</tr>
<tr>
  <td>owners</td>
  <td><a href="/owners">Show</a></td>
  <td><a href="/owners/new">New</a></td>
  <td><a href="/owners">Choose owner to destroy</a></td>
</tr>
<tr>
  <td>parse data</td>
  <td><a href="/parse_data">Show</a></td>
  <td><a href="/parse_data/new">New</a></td>
  <td><a href="/parse_data">Choose parse data to destroy</a></td>
</tr>
<tr>
  <td>payment</td>
  <td><a href="/payment_data">Show</a></td>
  <td><a href="/payment_data/new">New</a></td>
  <td><a href="/payment_data">Choose payment data to destroy</a></td>
</tr>
<tr>
  <td>preference</td>
  <td><a href="/preferences">Show</a></td>
  <td><a href="/preferences/new">New</a></td>
  <td><a href="/preferences">Choose preference to destroy</a></td>
</tr>
<tr>
  <td>social data</td>
  <td><a href="/social_data">Show</a></td>
  <td><a href="/social_data/new">New</a></td>
  <td><a href="/social_data">Choose social data to destroy</a></td>
</tr>
<tr>
  <td>selection</td>
  <td><a href="/selections">Show</a></td>
  <td><a href="/selections/new">New</a></td>
  <td><a href="/selections">Choose selection to destroy</a></td>
</tr>
<tr>
  <td>orders</td>
  <td><a href="/oders">Show</a></td>
  <td><a href="/oders">New</a></td>
  <td><a href="/oders">Choose order to destroy</a></td>
</tr>
<tr>
  <td>visit</td>
  <td><a href="/visits">Show</a></td>
  <td><a href="/visits/new">New</a></td>
  <td><a href="/visits">Choose visit to destroy</a></td>
</tr>
<tr>
  <td>item</td>
  <td><a href="/items">Show</a></td>
  <td><a href="/items/new">New</a></td>
  <td><a href="/items">Choose item to destroy</a></td>
</tr>
<tr>
  <td>clothing</td>
  <td><a href="/clothings">Show</a></td>
  <td><a href="/clothings/new">New</a></td>
  <td><a href="/clothings">Choose clothing to destroy</a></td>
</tr>
<tr>
  <td>food</td>
  <td><a href="/foods">Show</a></td>
  <td><a href="/foods/new">New</a></td>
  <td><a href="/foods">Choose food to destroy</a></td>
</tr>
</table>

