<!DOCTYPE html>
<html>
<head>
  <title>Pfe2</title>
  <a href="/clients">clients</a>
  <a href="/installation_data">installation_data</a>
  <a href="/owners">owners</a>
  <a href="/parse_data">parse data</a>
  <a href="/payment_data">payment_data</a>
  <a href="/preferences">preferences</a>
  <a href="/social_data">social_data</a>
  <a href="/stores">stores</a>
  <a href="/users">users</a>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
